@charset "UTF-8";

@media screen and (min-width: 768px) {
    body{
        font-size: 1.5em;
    }
    p{
        width: 900px;
    }
    #section--second-page p{
        width: 650px;
    }
    button{
        min-width: 20vw;
    }
    #section--second-page{
        background-image: url(../images/bgindex.jpg);
        background-size: 100%;
    }
}