@charset "UTF-8";

@media screen and (orientation:landscape) {
    body{
        background-image: url(../images/BgOp-LANDSCAPE.jpg);
        background-size: cover;
    }

    h1{
        font-size: 2em;
    }
}
