@charset "UTF-8";
@font-face {
    font-family: 'Sono Regular';
    src: url(../fonts/Sono-Regular.ttf);
}
@font-face {
    font-family: 'Sono Light';
    src: url(../fonts/Sono-Light.ttf);
}
@font-face {
    font-family: 'Sono Bolder';
    src: url(../fonts/Sono-ExtraBold.ttf);
}

:root{
    --sono1: 'Sono Light';
    --sono2: 'Sono Regular';
    --sono3: 'Sono Bolder';
    --corBg: rgb(10, 16, 22);
    --corYellow: rgb(255, 196, 0);
    --animate-delay: 2s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--corBg);
    font-family: var(--sono1);
    color: white;
}
input{
    display: inline-block;
    font: bold 2em var(--sono3);
    height: 60px;
    width: min(30vw, 160px);
    vertical-align: middle;
}
#div-operations{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* overflow: hidden; */
    margin: 10px auto;
}
#operation-buttons{
    display:inline-block;
    width: 130px;
    margin: 0 215x;
}
.operators{
    /* width:40px;
    height: 50px; */
    padding: 2px 7px;
    display: inline;
    font: normal 2em var(--sono1);
    color: var(--corYellow);
    background-color: rgba(45, 11, 109, 0.233);
    border: .1px solid var(--corYellow);
    margin: 2px -2px;
    cursor: pointer;
    transition: .5s;
}

.operators:hover{
    transition: .4s;
    font-weight: bolder;
    box-shadow: inset .1px .1px 8px 2px rgba(0, 0, 0, 0.747);
    color: rgb(252, 207, 58);
    background-color: rgba(182, 216, 255, 0.534);
}

#div-results{
    text-align: center;
    margin: 20px;
    font-size: 1.3em;
}

span.chosen-values{
    color: aqua;
    font-weight: bold;
}

.r-true{
    color: greenyellow;
}
.r-false{
    color: red
}
