@charset "UTF-8";
@font-face {
    font-family: 'Sono Regular';
    src: url(../fonts/Sono-Regular.ttf);
}
@font-face {
    font-family: 'Sono Light';
    src: url(../fonts/Sono-Light.ttf);
}
@font-face {
    font-family: 'Sono Bolder';
    src: url(../fonts/Sono-ExtraBold.ttf);
}

:root{
    --sono1: 'Sono Light';
    --sono2: 'Sono Regular';
    --sono3: 'Sono Bolder';
    --corBg: rgb(10, 16, 22);
    --corYellow: rgb(255, 196, 0);
    --animate-delay: 2s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--corBg);
    font-family: var(--sono1);
    color: white;
    padding: 20px;
}
input{
    display: inline-block;
    font: bold 1.7em var(--sono3);
    height: 60px;
    width: min(24vw, 150px);
    vertical-align: middle;
}

main{
    opacity: 0;
    transition: 2s;
}

/* ==================================
   =============BOTÕES===============
   ==================================*/

#div-operations{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 8px auto;
}
#operation-buttons{
    display:inline-block;
    width: 175px;
    min-width: 105px;
    margin: 0 2px;
}

.operators{
    padding: 2px 7px;
    display: inline;
    font: normal 2em var(--sono1);
    color: var(--corYellow);
    background-color: rgba(45, 11, 109, 0.233);
    border: .1px solid var(--corYellow);
    margin: 2px -2px;
    cursor: pointer;
    transition: .5s;
}

.operators:hover{
    transition: .4s;
    font-weight: bolder;
    box-shadow: inset .1px .1px 8px 2px rgba(0, 0, 0, 0.747);
    color: rgb(252, 207, 58);
    background-color: rgba(182, 216, 255, 0.534);
}

/* ============================== 
   ========RESULTADOS============ 
   ============================== */

#div-results{
    text-align: center;
    margin: 20px 0;
    width: 100%;
    font-size: 1.3em;
}

#div-results p {
    width: fit-content;
    margin: auto; 
    text-align: justify;
}

.chosen-values{
    color: rgb(200, 219, 255);
    font-weight: bold;
    text-align: right;
}

.r-true {color: greenyellow; font-weight: bolder;}
.r-false {color: red; font-weight: bolder;}



/*==================================
  ===========ULS====================
  ==================================*/

  ul{display: inline-block; list-style: none; margin: 5px;}
  li{margin-bottom: 5px;}
li{list-style: none;}
